

*{box-sizing:border-box; margin: 0;padding:0;}

.wrapper{
  width: 100%;
  /* height: 100vh; */
  background-color: aquamarine;

  display: flex;
  justify-content: center;
  /* align-items: center; */
}

form{
  width: 50%;

padding: 50px;
background-color: rgb(255, 195, 127);
border-radius: 5%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


}

form div{
  display: flex;
 
  justify-content: center;
 
  padding-bottom: 20px;
  
  width: 100%;

}
form div label{


  font-size: 20px;
  width:25%;
 
}
form div input{


  
  width:75%;
 
}
form .firstName label{display: block;

 


  
  width:25%;

 
}
form .firstName input{


  
  width:24%;

 
}
form .firstName #firstName{


  
  margin-right: 2%;

 
}

/* .firstName{
  width: 50%;
  background-color: #61dafb;
 
}
.lastName{
  width: 49%;
  
} */

#submit{

padding:20px 40px;
font-size: 18px;
font-weight: 700;
background-color: rgb(255, 195, 127);
border: 2px solid #000;
border-radius: 20px;
transition: all 1s;
}
#submit:hover{


background-color: rgb(243, 167, 81);
border: 2px solid rgb(0, 0, 0);
}


.nav li{
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}
.nav a{
  pointer-events: none;
}


/* listpropogation  */

.list{
  
  margin: 20px;
  padding: 20px;

}

.list li{
  list-style-type: none;
  border: 2px solid #000;
  margin-bottom: 30px;
  padding:10px 20px;
}

.list h2{
  margin-bottom: 30px;
}

.list li button {

padding:10px 20px;
margin-right: 10p;
margin-top: 30px;
}




.list-design{display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;

 
  padding: 50px;
  border: 2px solid #fff;
  list-style: none;
  background-color: antiquewhite;
}

.list-design-img{
  margin-right: 1%;
  width:30%;
}
.list-design-img img{
  width: 100%;
}

.list-design-text{
  width: 70%;
}
.list-design-text h2{
  margin-bottom: 20px;
}


.normal-btn{
  background-color: white;
  padding: 20px 30px;
  margin-right: 10px;
  

}
.btn{
  padding: 20px 30px;
  margin-right: 10px;

}
.primary-btn{
  background-color: rgb(54, 54, 113);
  color: #fff;
}
.danger-btn{
  background-color: red;
  color: #fff;
}
.buttonStyle{
  margin-top: 20px;
  display: flex;
justify-content: end;
}

